@charset "UTF-8";

html {
    font-size: 100%;
}


body {
    background-image: url(bacground-img.jpg);
}

/*ヘッダータイトルのNEWSのフォント
--------------------*/
.header-title {
    margin-top: -20px;
    margin-right: 1400px;
    margin-left: 20px;
    font-size: 25px;
    text-shadow:
    0 1px #bbb,
    0 2px #aaa,
    0 3px #999,
    0 4px #888,
    0 5px #777,
    0 6px #666,
    0 7px #555,
    0 8px #444,
    0 9px #333,
    0 10px 8px #000;
}

.title {
    text-decoration: none;
    color: #1fc9cf;
}

a {
    text-decoration: none;
}


/*ナビゲーションメニューの下線をクリックで維持
----------------------------------*/
#TOP-category-nav {
    border-bottom:4px solid #40a6f0;
}

#ECONOMY-category-nav {
    border-bottom:4px solid #40a6f0;
}

#SPORTS-category-nav {
    border-bottom:4px solid #40a6f0;
}

#WORLD-category-nav {
    border-bottom:4px solid #40a6f0;
}

#CONTACT-category-nav {
    border-bottom:4px solid #40a6f0;
}

/*contactフォーム
---------------------*/
form {
    margin-top: 30px;
}

table {
    margin:0 auto;
}

.form-width{
    resize: none;
    width:400px;
    height: 30px;
}

textarea {
    resize: none;
    width:400px;
    height:150px;
}

.middle {
    text-align: center;
    margin-bottom: 16px;
}

.submit-reset-bottom {
    width: 50px;
    height: 30px;
    cursor: pointer;
    opacity: 1;
}

/*フッターデザイン
----------------------*/
footer {
    text-align: center;
}

.footer-contact:hover{
    text-decoration: underline;
}


/*横幅850px以上の場合
-------------------------*/
@media (min-width: 850px) {

    header {
        margin-bottom: 50px;
    }

    /*ナビゲーションメニュー
    ----------------------*/
    .main-nav {
        display: flex;
        font-size: 1.7rem;
        padding-inline-start: 0px;
        justify-content: space-around;
    }

    .main-nav li {
        display: block;
        list-style: none;
    }

    .main-nav a {
    color: black;
    }

    .main-nav a:hover {
        color: rgb(11, 174, 202);
        border-bottom:4px solid #40a6f0;
    }

    .slide-nav {
        display: none;
        position: absolute;
        margin-left: -45px;
    }

    .slide-nav li a {
        font-size: 20px;
    }

    /* ハンバーガーメニュー削除
    ---------------------------- */
    .hamburger-menu {
        display: none;
    }

    /*ページメニューアンダーライン
    ---------------------------*/
    .main-page {
        text-decoration: underline;
        text-decoration-color: #40a6f0;
        font-size: 40px;
        margin-left: 110px;
        margin-bottom: 20px;
    }

    .top-content a:hover{
        text-decoration: underline;
        text-decoration-color: #0eb3ff;
    }
    .eco-article a:hover{
        text-decoration: underline;
        text-decoration-color: #0eb3ff;
    }
    .spo-article a:hover{
        text-decoration: underline;
        text-decoration-color: #0eb3ff;
    }
    .wor-article a:hover{
        text-decoration: underline;
        text-decoration-color: #0eb3ff;

    }

    /*Top Pageメイン
    -------------------*/
    .top-page-content {
        display: flex;
        margin: 0 110px;
    }

    .top-wor-content {
        margin: 0 110px;
    }

    .top-article1 {
        border: 1px solid gray;
        background-color: white;
        margin-right: 20px;
        width: 100%;
        opacity: 0.88;
    }

    .top-article2 {
        border: 1px solid gray;
        background-color: white;
        width: 100%;
        opacity: 0.88;
    }

    .top-article3 {
        border: 1px solid gray;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 16px;
        opacity: 0.88;
    }

    .title-page {
        color: black;
        font-size: 25px;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #40a6f0;
        pointer-events: none;
    }

    .top-content {
        font-size: 20px;
        text-align: left;
        margin-right: 20px;
        padding: 3px;
    }

    .top-content a:hover{
        text-decoration: underline;
        text-decoration-color: #0eb3ff;
    }

    article {
        text-align: center;
    }

    /*economy sports world メイン
    --------------------*/
    .eco-article {
        text-align: left;
        font-size: 20px;
        border: 1px solid gray;
        background-color: white;
        margin: 0 110px;
        padding: 20px;
        opacity: 0.88;
    }


    .spo-article {
        text-align: left;
        font-size: 20px;
        border: 1px solid gray;
        background-color: white;
        margin: 0 110px;
        padding: 20px;
        opacity: 0.88;
    }

    .wor-article {
        text-align: left;
        font-size: 20px;
        border: 1px solid gray;
        background-color: white;
        margin: 0 110px;
        padding: 20px;
        opacity: 0.88;
    }

    /* 黒丸消去
    ---------------------- */
    .list-style-type-none {
        list-style-type:none;
    }

}

/*横幅850px以下の場合
-------------------------*/
@media (max-width: 850px) {
    /*NEWSの文字サイズ
    ------------------*/
    .header-title {
        font-size: 20px;
        margin-left: 0;
    }

    /*メインナビ削除
    --------------------*/
    .main-nav {
        display: none;
    }

    .main-page {
        text-decoration: underline;
        text-decoration-color: #40a6f0;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    /*ハンバーガーメニューボタン
    ------------------------*/
    .hamburger-menu-btn {
        border-radius: 80px 100% / 100% 80px;
        position: fixed;
        top: 15px;
        right: 15px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #075288;
        cursor: pointer;
    }

    /*ハンバーガーメニューの形の動き*/
    .hamburger-menu-btn:hover {
        color: #fff;
    border-radius: 100% 80px / 80px 100%;
    }

    .hamburger-menu-btn span,
    .hamburger-menu-btn span:before,
    .hamburger-menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .hamburger-menu-btn span:before {
        bottom: 8px;
    }
    .hamburger-menu-btn span:after {
        top: 8px;
    }

    /*左のチェックボックスを消す
    -----------------------------------*/
    #hamburger-menu-btn-check {
        display: none;
    }

    /*メニューオープン時は真ん中の線を透明にする
    -------------------------------------------*/
    #hamburger-menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }
    #hamburger-menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #hamburger-menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /*メニューの装飾CSS
    ---------------------------*/
    .hamburger-menu-content {
        width: 115px;
        height: 310px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 80;
        background-color: #3584bb;
        opacity: 0.8;
    }
    .hamburger-menu-content ul {
        padding: 70px 10px 0;
    }
    .hamburger-menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .hamburger-menu-content li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .hamburger-menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    .hamburger-menu-content a:hover {
        color: black;
    }

    /*ボタンを押すことでメニューバーが引っ込む
    ---------------------------------------*/
    .hamburger-menu-content {
        width: 115px;
        height: 310px;
        position: fixed;
        top: 0;
        right: -115px;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;/*アニメーション設定*/
    }
    /*ボタンを押すことでメニュー画面の表示
    -----------------------------------*/
    #hamburger-menu-btn-check:checked ~ .hamburger-menu-content {
        right: 0;/*メニューを画面内へ*/
    }

    /*ページタイトル  位置
    ---------------------*/
    .title-page {
        color: black;
        font-size: 25px;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #40a6f0;
        margin-top: 10px;
    }

    .article-sentence {
        padding:3px;
    }

    .article-background {
        background-color: white;
        border: 1px solid gray;
        margin-bottom: 16px;
        opacity: 0.88;
    }

    /* ホバーで記事をアンダーライン */
    .article-background a:hover{
        text-decoration: underline;
        text-decoration-color: #0eb3ff;
    }
}